*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.navbar a img{
    display: block;
}

.navbar a {
    display: inline-block;
}



.navbar-collapse{
    display: inline-block;
    width: 1700px;

 
}

.navbar-nav li {
    float: left;
}

.navbar-nav li a {
    padding: 4px 8px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    color: #b2c0cc;
    line-height: 1.6;
}

.navbar-nav{
    display: inline-block;;
}

.navbar-dark{
    padding: 6px 16px;
    box-sizing: border-box;
    background: #0c151c;
    display: flex;
}   

.hero-section, .list-section,
.root-job-list{
    width: 100%
}

.container{
    width: 1200px;
    margin: 0 auto;
    
}

.user-menu{
    float: right;
}


.navbar-global{
    margin-left: 26%;
}

.divider:after{
    content: "|";
    font-size: 12px;
    color: #666;
}

.col-start{
    width: 50%;
    color: white;
    position: relative;
    padding: 0 16px;
    box-sizing: border-box;
}

.col-hero{
    float: left;

}
.img-hero{
    display: inline-block;
}

.hero-section{
    padding-top: 56px;
    padding-bottom: 40px;
    background: #0c151c;
}

.hero-warp{
    background: #0c151c;
}

.cap{
    color: #0078ff;
    margin-bottom: 1rem;
    font-size: 13px;
}

.title span {
    display: block;
    font-size: 38px;
}

.title, .sub-title {
    margin-bottom: 2.5rem;
}

.sub-title{
    font-size: 20px;
    color: #ececec;
    font-weight: normal;
}

.btn-start{
    color: white;
    background: #0078ff;
    width: 210px;
    height: 43px;
    display: inline-block;
    padding: 7px 13px;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    line-height: 28px;
}

.list-section{
    padding: 80px 0 56px 0;
}

img{
    border-style: none;
    vertical-align: middle;
}

.sw-wrapper {
    width: 100%;
}
.item-warp{
    width: 50%;
    height:14.375rem;
    float: left;
    
}

.img-competition{
    vertical-align: middle;
    height: 14.375rem;
    transform: translate(-21%, 0);
    
}

.question{
    display: inline-block;
}
.small-header, .small-header h4{
    display: inline-block;
    
}

.item-thumb{
    
    display: block;
    width: auto;
    margin-right: 32px;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

